<h2>Employee Form</h2>
<div class="panel panel-primary">
    <div class="panel-body">
        <!--<input type='text' [(ng-model)]='model.firstName' [value]='model.firstName'>-->
        <!--<form id="empform" class="form" #empform ng-form="empform" (submit)>
            <div class="form-group">
                First Name:
            </div>
        </form>-->
        <!--<div>
            <button [hidden]='selectedEmployee' class="btn btn-primary" (click)="addEmployee()">Add</button>            
            <button [hidden]='!selectedEmployee' class="btn btn-primary" (click)="updateEmployee()">Update</button>            
            <button class="btn btn-primary" (click)="clearSelectedEmployee()">Clear</button>            
        </div>-->
        <form class="overflow-hidden" onsubmit="return false;" [ng-form-model]="todoForm">
            <h1>ToDo</h1>
            <input type="text" #tmessage ng-control="message" (keyup.enter)="add(tmessage)" [class.error]="!todoForm.valid "
            placeholder="what do you have todo?" autofocus/>
            <button type="button" logger (click)="add(tmessage);" [disabled]="!todoForm.valid">+</button>
        </form>
    </div>
</div>