<div class="grid">
    <div class="grid-cell">
        <content></content>
    </div>
    <div class="grid-cell">
        <h2>Employee List</h2>
        Search: <input type="text" auto-table />
        <table (load)="onLoad($event)" (mouseenter)="onMouseEnter($event)" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>Full</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ng-for="#employee of employees">
                <td><a href="#" (click)="employeeClick(employee)">{{employee.first}}</a></td>
                <td>{{employee.last}}</td>
                <td>{{employee.fullName}}</td>
                <td><a href="#" (click)='deleteEmployee(employee)'>X</a></td>
            </tr>
        </table>
        <button (click)="changeToLauren()">Change to Lauren</button>
    </div>
</div>