<h2>Employee Form</h2>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="form" [ng-form-model]="loginForm">
            <div class="form-group">First Name:
                <input class="form-control" type="text" ng-control="firstName">
            </div>
            <div class="form-group">Last name:
                <input class="form-control" type="text" ng-control="lastName">
            </div>
        </form>
        <div>
            <button class="btn btn-primary" (click)="addEmployee()">Add</button>            
        </div>
    </div>
</div>