<employee-form></employee-form>
<hr>
<h2>Employee List</h2>
<h3>Your age is {{age}}</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Full</th>
        </tr>
    </thead>
    <tr *ng-for="#employee of employees">
        <td (click)="employeeClick(employee)">{{employee.first}}</td>
        <td>{{employee.last}}</td>
        <td>{{employee.fullName}}</td>
    </tr>
</table>
<button (click)="changeToLauren()">Change to Lauren</button>